services:
  my-tg-bot:
    build: .
    env_file:
      - .env
    restart: always
    depends_on:
      - redis_db

  redis_db:
    image: redis:7.2-alpine
    restart: always
    volumes:
      - redis_data:/data

  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    # ❌ МИ ПРИБРАЛИ СЕКЦІЮ ports! 
    # Тепер порт 9000 недоступний ззовні.
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  # --- НОВИЙ БОС ---
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80" # Відкриваємо стандартний порт інтернету
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # Прокидаємо наш файл налаштувань
    depends_on:
      - portainer # Nginx має запускатися після того, як прокинеться Portainer

volumes:
  redis_data:
  portainer_data: