services:
  my-tg-bot:
    build: .
    env_file:
      - .env
    restart: always
    depends_on:
      - redis_db

  redis_db:
    image: redis:5.0.1
    restart: always
    volumes:
      - redis_data:/data

  # --- НОВА ЧАСТИНА ---
  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    ports:
      - "9000:9000"  # Відкриваємо "двері" 9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Даємо доступ до "серця" Докера
      - portainer_data:/data # Щоб зберігати налаштування адмінки

volumes:
  redis_data:
  portainer_data: # Не забудь додати цей вольюм!