services:
  # Наш бот (Сервіс №1)
  my-tg-bot:
    build: .
    env_file:
      - .env
    restart: always
    # Магія мережі: бот побачить redis по імені "redis_db"
    depends_on:
      - redis_db

  # Наші мізки (Сервіс №2)
  redis_db:
    image: redis:alpine
    restart: always
    # Щоб дані не зникли при перезапуску, ми робимо "сейв" на диск
    volumes:
      - redis_data:/data

# Оголошуємо, що нам потрібне сховище (Volume)
volumes:
  redis_data: